@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    padding-top: 17.2vh;
    padding-bottom: 30vh;
    width: 464px;

    @media (max-height: 1000px) {
      & {
        padding-top: 10vh;
        padding-bottom: 20vh;
      }
    }

    @media (max-height: 900px), (max-width: 600px) {
      & {
        transform: scale(0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: -36px;
        margin-right: -36px;
      }
    }

    @media (max-height: 600px), (max-width: 400px) {
      & {
        transform: scale(0.5);
        margin-left: -80px;
        margin-right: -80px;
      }
    }

    @media (max-height: 400px), (max-width: 320px) {
      & {
        transform: scale(0.4);
        margin-left: -120px;
        margin-right: -120px;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    margin: 0;
    margin-bottom: 10px;
    color: #F2F2F2;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    right: 0;
    width: 162px;
    height: 116px;
    flex-shrink: 0;
    margin-top: -10px;
  }
}
